:root {
  /* Colors */
  --lightblue: #8AD0F1;
  --darkblue: hwb(201 8% 34%);
  --darkgrey: #161616;
  --lightgrey: #ebebeb; 
}


body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(90deg, #161616, #0d0d0d);    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
    overflow: hidden;
}


/* Container */
.container {
    width: 400px;
    padding: 35px;
    border-radius: 15px;
    padding-bottom: 20px;
}


/* Logo */
.logo {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}


/* Cursor Default */
html {
    cursor: url('assets/images/cursor/cursor_default.png'), default;
}


/* Cursor Pointer */
.submit-button, a {
    cursor: url('../../assets/Images/Cursor/cursor_pointer.png'), pointer;
}


/* Submit */
.submit-button {
    width: 85%;
    padding: 10px;
    font-size: 14px;
    background-color: #7d7d7d6d;
    color: #fff; 
    border: none;  
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 5px;
}


.submit-button:hover {
    background-color: #5959594a;
}


/* Form */
.form__group {
    margin-bottom: 20px;
}

.form__field {
    width: 85%;
    padding: 10px;
    margin-left: 25px;
    border-radius: 0px;
    border: 1px none;
    box-sizing: border-box;
    background-color: #7d7d7d6d;
    color: #ffffff;
}


.form__field::placeholder {
    color: #cecdcd;
}

.form__field:focus {
    outline: #fff solid 1px !important; 
}

.form__field:hover {
    outline: #ffffff7d solid 1px;
    
    }


/* Info Text */
.info-text {
    margin-top: 15px;
    font-size: 12px;
    margin-left: -10px;
    color: #ffffff7c;
    text-align: center;
}


@media (max-width: 600px) {
    .container {
        width: 350px;
    }
    .info-text {
        font-size: 10px;
    }

  }


@media (max-width: 500px) {
    .container {
        width: 300px;
    }
    .info-text {
        display: none;
    }

} 
